/**** RESET ****/
h1, h2, h3, p {
  font-style: normal;
  font-weight: normal;
  font-size: medium;
  line-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background: #369;
  color: white;
  transition: background-color 0.3s;
}

a:active {
  background: black;
  color: white;
}

a.active, a.active:hover {
  background: black;
  color: white;
}

@font-face {
  font-family: "IBMCourier";
  src: url(/fonts/IBMCourier.otf) format("opentype");
}

body {
  margin: 0;
  background-color: gainsboro;
  color: #000000;
  font-family: "IBMCourier", "Courier New", Courier, monospace;
  letter-spacing: 1px;
}


/**** NAVIGATION ****/

/* Navigation bar */
#nav {
  display: flex;
  justify-content: center;  /* Centers the items */
  align-items: center;
  position: relative;
  z-index: 1000;
  height: 40px;
}

/* Main navigation list */
#nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

}

/* Individual navigation items */
#nav ul li {
  position: relative;
}

/* Links in main nav */
#nav ul li a {
  display: block;
  padding: 10px 10px;
  border-bottom: 2px solid black;
}

/* Dropdown menu */
#nav ul ul {
  display: none;
  position: absolute;
  top: 100%; /* Makes it appear directly below parent */
  left: 0;
  background: black;
  width: 250px;
  flex-direction: column;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#nav ul ul li {
  width: 100%;

}

/* Dropdown links */
#nav ul ul li a {
  color: gainsboro;
  border-bottom: 1px solid dimgrey;
  padding: 5px;
  display: block;
  
}

/* Show dropdown on hover */
#nav ul li:hover > ul {
  display: flex;
}


/**** PORTFOLIO ****/

.container {
  display: flex;
  flex-direction: row;/*horizontal by default*/
  height: calc(100dvh - 40px);
  /*min-height: calc(100lvh - 40px);*/
}


/**** LIST ****/

.image-list {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers all images as a group */
  /*align-content: center;*/
  align-items: flex-start;
  padding: 5px 0 0 0;
  height: calc(100% - 63px - 5px);
  margin-top: 63px;
  align-items: center;
}

/* Vertical Centered Layout */
.image-list.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-list img {
  /*height: auto;*/
  height: 100px;  
  cursor: pointer;
  transition: transform 0.3s;
  width: 100px;  
  margin: 5px;
  object-fit: contain;
}

.image-list img:hover {
  transform: scale(1.1);
}

/* Outline for the selected image */
.image-list img.selected {
  outline: 5px solid rgb(103, 135, 168);
}

/**** SELECTION ****/

.selected-piece {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
 
}

.selected-window {
  height: 60%;
  width: calc(100% - 20px);
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.selected-window img {
  width: 100%;
  height: 100%;
  cursor: grab; /* Indicates draggable image */
  /*transform-origin: center center;  Keeps zoom centered */
  transition: transform 0.2s ease-out;
  object-fit: contain;
  object-position: center bottom;
}

.selected-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px 0px 2px;
  color: white;
  font-size: 18px;
  gap: 2px; 
  height: 40px;
  width:100%
}

.selected-navigation button {
  background-color: #000000;
  border: none;
  margin: 0;
  
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0;
  flex: 0 0 36px; /* Prevents buttons from growing */
  width:40px;
  height:40px;
}

.selected-navigation button p {
  color: white;
  padding: 0;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center; /* Vertically align text */
  justify-content: center; /* Center text horizontally */
}

.selected-navigation h2 {
  background-color: #000000;
  color: white;
  height: 100%;
  flex: 1; /* Fills available space 

  /*vertical align text*/
  display: flex;
  align-items: center; /* Vertically align text */
  justify-content: center; /* Center text horizontally */
  min-width: 0; /* Allows h2 to shrink if needed */
}

.selected-navigation button:hover {
  background-color: #369;
}

/**** DESCRIPTION ****/

.description {
  text-align: center;
  width: 100%;
  height: 40%;
  background-color: #000000;
  color: white;
  overflow: auto;
  padding-top: 20px;
  justify-content: center; 
}

.description p {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px;
}

.description a {
  color: white;
  font-weight:bold;
  text-decoration: underline;
}

#description-text{
  height: 100%;
}

/*
#description-text h4 {
  margin: auto;
  font-size: 100%;
  color: blue;
}*/


h1.tablet{
  font-size:125%;
  font-weight:bold;
  color:white;
  letter-spacing:2px;
  max-width:220px;
  height:63px;
  text-align:center;
  /*background-image:url('../images/title.png');*/
  background-color:black;
  text-transform:uppercase;
  font-family:Helvetica;
  line-height:63px;
  padding:0 40px;
  /*margin:100px auto 15px;*/
  /*text-shadow:0px 0px 1px dimgrey, 0px 0px 2px dimgrey, 0px 0px 3px dimgrey, 0px 0px 3px dimgrey, 1px 1px silver;*/
  margin:0 auto;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    height: 63px;
    /*background-color: red;*/
    z-index: 10; /* Ensure it's above other elements */
    width: calc((100% / 3) - 2px);
    margin-top: 50px;
  }

/* Responsive Layout: Switch to column when screen is vertical (portrait mode) */
@media screen and (max-aspect-ratio: 1/1) {
  .container {
    flex-direction: column; /* Stack elements vertically */
  }
  .title{
    width: 100%;
  }

  .image-list {
    order: 2; /* Move image list below selected piece */
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); Adjust grid for smaller screens */
    min-height: calc(33% - 20px - 63px-5px);/*  subtract padding  */
    margin-top: 0; /* Push image list down by title + selected piece */
  }

  .selected-piece {
    order: 1; /* Keep the selected piece at the top */
    min-height: 66.6%;
    margin-top: 73px;
  }
}

.zoom-controls {
  position: absolute;
  top: calc(50% - 41px);
  left: 0px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: 3000;
  border: 10px solid gainsboro;
  border-left: none;
  background-color: gainsboro;
}

#zoomInBtn, #zoomOutBtn {
  background-color: black;
  color: white;
  border:none;
  /*padding: 8px 12px;*/
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  /*border-radius: 5px;*/
  width:36px;
  height:40px;
  display: flex;
  align-items: center; /* Vertically align text */
  justify-content: center; /* Center text horizontally */
}

#zoomInBtn:hover, #zoomOutBtn:hover {
  background-color: #369;
}


